mixin head(title)
	head
		meta(charset="UTF-8")
		title= title

		script(defer src="/js/script.all.min.js")
		link(rel="stylesheet" href="/css/style.all.min.css")

		block

mixin siteHeader()
	.site-header
		.container
			.content-wrapper
				.site-logo
				ul.site-nav
					li: a Projects
					li: a About
					li: a FAQ
					li: a Contacts
			.content-wrapper
				.site-search
					.avatar
				.verification-box
					a.btn Create idea
					a.btn.white.no-padding Sing in



