include includes/mixins

doctype html
html(lang="en")
    +head('FAQ')
    body
        //- weinre

        // Code goes here
        +siteHeader
        .site-content
            .faq-section
                .container
                    .row
                        .col-md-8
                            .section-title
                                h1 FAQ
                            .faq-box

                                .faq-item
                                    .faq-title 1. What is the On-Time Guarantee?
                                    .faq-description The On-Time Guarantee is our promise that we’ll show up on time for installations and service appointments, because we understand nothing is more frustrating than waiting around for an appointment.Contact us for the details of your area’s On-Time Guarantee policy.

                                .faq-item
                                    .faq-title 2. How can I check the status of my appointment online?
                                    .faq-description You can view your appointments within the Overview tab of My Account. Sign into My Account using your TWC ID and go to My Appointments.You can also view your appointments by using the My TWC® app.You can download the My TWC® app for your Android™ OS deviceon Google Play or for your iOS device from the App Store.


                                .faq-item
                                    .faq-title 3. Can I cancel or reschedule an appointment online?
                                    .faq-description Yes, you can use My Account or the My TWC® app to reschedule appointments. To reschedule appointments using My Account: 1. Sign in to My Account using your TWC ID. 2. On the Overview tab, go to My Appointments.

                                .faq-item
                                    .faq-title 4. What is the On-Time Guarantee?
                                    .faq-description The On-Time Guarantee is our promise that we’ll show up on time for installations and service appointments, because we understand nothing is more frustrating than waiting around for an appointment.Contact us for the details of your area’s On-Time Guarantee policy.

                                .faq-item
                                    .faq-title 5. How can I check the status of my appointment online?
                                    .faq-description You can view your appointments within the Overview tab of My Account.Sign into My Account using your TWC ID and go to My Appointments.You can also view your appointments by using the My TWC® app.You can download the My TWC® app for your Android™ OS device on Google Play or for your iOS device from the App Store.

                                .faq-item
                                    .faq-title 6. Can I cancel or reschedule an appointment online?
                                    .faq-description Yes, you can use My Account or the My TWC® app to reschedule appointments.To reschedule appointments using My Account:
                                        ul
                                            li 1. Sign in to My Account using your TWC ID.
                                            li 2. On the Overview tab, go to My Appointments.


                        .col-md-4
                            .support
                                .support-text Please contact support if you haven’t found the answer to your question
                                button(class="support-button") contact support
