include includes/mixins

doctype html
html(lang="en")
    +head('FAQ')
    body
        //- weinre

        // Code goes here
        .site-content
            .faq-section
                .container
                    .row
                        .col-md-9
                            .section-title faq
                            .faq-box
                                .faq-item
                                    .faq-title random title
                                    .faq-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet assumenda atque corporis, cum cumque cupiditate in incidunt iusto laborum molestias necessitatibus obcaecati quaerat quas quasi repellat veritatis vero voluptates?

