include includes/mixins

doctype html
html(lang="en")
	+head('Project')
	body
		//- weinre

		// Code goes here
		+siteHeader
		.site-content
			.head-banners-section
				.container
					.row
						.col-md-12
							.slide

			.infographics-section
				.container
					.section-title.centered How it works
					.row
						.col-md-4
							.infographics-item
								.top-bar
									.icon(style="background-image: url(../img/icons/icon-heart.png)")
								.bottom-bar
									.infographics-title Create an idea
									.infographics-description Lorem Ipsum is simply dummy text of the printing


						.col-md-4
							.infographics-item
								.top-bar
									.icon(style="background-image: url(../img/icons/icon-heart.png)")
								.bottom-bar
									.infographics-title Collect likes
									.infographics-description Lorem Ipsum is simply dummy text of the printing

						.col-md-4
							.infographics-item
								.top-bar
									.icon(style="background-image: url(../img/icons/icon-heart.png)")
								.bottom-bar
									.infographics-title Find investors
									.infographics-description Lorem Ipsum is simply dummy text of the printing


			.new-ideas-section

			.categories-section

			.bring-an-idea-section