include includes/mixins

doctype html
html(lang="en")
	+head('Project')
	body
		//- weinre

		// Code goes here
		+siteHeader
		.site-content
			.head-banners-section
				.container
					.row
						.col-md-12
							.slide

			.infographics-section
				.container
					.section-title.centered How it works
					.row
						.col-md-4
							.infographics-item
								.top-bar
									.icon(style="background-image: url(../img/icons/icon-heart.png)")
								.bottom-bar
									.infographics-title Create an idea
									.infographics-description Lorem Ipsum is simply dummy text of the printing


						.col-md-4
							.infographics-item
								.top-bar
									.icon(style="background-image: url(../img/icons/icon-heart.png)")
								.bottom-bar
									.infographics-title Collect likes
									.infographics-description Lorem Ipsum is simply dummy text of the printing

						.col-md-4
							.infographics-item
								.top-bar
									.icon(style="background-image: url(../img/icons/icon-heart.png)")
								.bottom-bar
									.infographics-title Find investors
									.infographics-description Lorem Ipsum is simply dummy text of the printing


			.new-ideas-section
				.container
					.section-title Top ideas
					.row
						each val in [1,2,3,4,5,6,7,8]
							.col-md-3
								.idea-card
									.top-bar
										.avatar(style="background-image: url(../img/blank-colors-desk-370474.jpg)")
									.bottom-bar
										.evaluation-box
											.categories
												.category fasion
											.likes
												span 222
										.content-box
											.title Spelunk Jewelry: A New Collection Inspired by France
											.description Attending La Porte Peinte artist residency will inspire a second line of timeless jewelry anchored by place and self-expression.

			.categories-section
				.container
					.section-title Categories
					.categories-box
						.category Food
						.category Craft
						.category Arts
						.category Publishing
						.category Social
						.category Business
						.category Music
						.category Technology
						.category Film
						.category Fashion
						.category ecology
						.category Health
						.category Engineering
						.category Photography
						.category Education
						.category Culture


			.bring-an-idea-section