include includes/mixins

doctype html
html(lang="en")
    +head('Profile')
    body
        //- weinre

        // Code goes here
        .site-content
            .profile-section
                .container
                    .row
                        .col-md-9
                            .section-title My Profile
                            .profile-box
                                .container
                                    .row
                                        .col-md-2
                                            .profile-photo
                                                .avatar(style="background-image: url(../img/IMG_0009.JPG);")
                                                .remove-photo
                                                    span &times;
                                                .upload Upload photo
                                        .col-md-10
                                            .container
                                                .row
                                                    .col-md-6
                                                        .input-group-component
                                                            label First Name
                                                            input(type="text", name="name" placeholder="First Name")
                                                    .col-md-6
                                                        .input-group-component
                                                            label Last Name
                                                            input(type="text", name="name" placeholder="Last Name")
                                                    .col-md-6
                                                        .input-group-component
                                                            label First Name
                                                            input(type="text", name="name" placeholder="First Name")
                                                    .col-md-6
                                                        .input-group-component
                                                            label Last Name
                                                            input(type="text", name="name" placeholder="Last Name")
                                                    .col-md-6
                                                        .input-group-component
                                                            label First Name
                                                            input(type="text", name="name" placeholder="First Name")
                                                    .col-md-6
                                                        .input-group-component
                                                            label Last Name
                                                            input(type="text", name="name" placeholder="Last Name")
                                                    .col-md-6
                                                        .input-group-component
                                                            label First Name
                                                            input(type="text", name="name" placeholder="First Name")
                                                    .col-md-6
                                                        .input-group-component
                                                            label Last Name
                                                            input(type="text", name="name" placeholder="Last Name")
                                                    .col-md-6
                                                        .input-group-component
                                                            label First Name
                                                            input(type="text", name="name" placeholder="First Name")
                                                    .col-md-6
                                                        .input-group-component
                                                            label Last Name
                                                            input(type="text", name="name" placeholder="Last Name")
