/*
 * Styles go here
 */

@gamma-gray: #93a0b3;
@gamma-green: #02bacd;
@blue: #02bacd;
@grey: #93a0b3;
@black: #2e2e2e;
@border: #d5d9df;
@bkg: #d4d9e1;

.input-group-component {
	& > * {
		box-sizing: border-box;
	}
	label {
		display: block;
		box-sizing: border-box;
		text-transform: uppercase;
		color: @grey;
		font-weight: bold;
		.montserrat-medium();
	}
	input, textarea, select {
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding: 12px 21px;
		border-radius: 4px;
		border: 1px solid @border;
		box-shadow: none;
		margin: 10px 0 40px 0;
		letter-spacing: 0.8px;
		font-size: 14px;
		line-height: normal;
		text-align: left;
		color: #2e2e2e;
		//.montserrat-semi-bold();
		.montserrat-medium();
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	input, textarea {
		&:focus, &:active {
			box-shadow: 0 0 2px @blue;
		}
	}
	textarea {
		resize: none;
		height: 150px;
		box-sizing: border-box;
	}
}
input {
	&::-webkit-calendar-picker-indicator {
		display: none;
	}
}
.button-blue {
	color: #fff;
	background: @blue;
	text-transform: uppercase;
	border-radius: 4px;
	box-sizing: border-box;
	width: 270px;
	height: 42px;
	.montserrat-bold();
	font-size: 16px;
	line-height: 17px;
	padding: 14px 22px 10px;
	letter-spacing: 0.8px;
	cursor: pointer;
	text-align: center;
	&:hover {
		background: darken(@blue, 5%);
	}
	&:focus, &:active {
		box-shadow: 0 0 2px @blue;
	}
	&:active {
		background: darken(@blue, 10%);
	}
}
.pagination {
    text-align: center;
    padding: 20px 0 30px;
    li {
      display: inline-block;
      border-radius: 4px;
      padding: 2px 8px;
      &.current {
        background: @blue;
        span {
          color: #fff;
        }
      }
    }
    a, span {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 14px;
      .montserrat-medium();
    }
    a {
      color: @grey;
    }
    &-navigation {
      width: 20px;
      height: 20px;
      a, span {
        padding: 2px 8px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40%;
      }
      span {
        background-image: none;
      }
      &.prev {
        margin: 0;
        a {
          background-image: url("../img/icons/arrow-left.png");
        }
		  &:active {
			  a {
				  background-image: url("../img/icons/arrow-active-left.png");
			  }
		  }
      }
      &.next {
        margin: 0;
        a {
          background-image: url("../img/icons/arrow-right.png");
        }
		  &:active {
			  a {
				  background-image: url("../img/icons/arrow-active-right.png");
			  }
		  }
      }
    }
	&-page {
		margin-right: 7px;
		&:hover {
			background: @blue;
			a {
				color: white;
			}
		}
		&:last-child {
			margin-right: 0px;
		}
	}
}

//modal windows
.modal-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 100;
	opacity: 0;
	background-color: rgba(0,0,0,0.65);
	transition: all 0.3s ease-in-out;
	overflow-y: scroll;

	&::-webkit-scrollbar-thumb {
		width: 0px;
	}
	&::-webkit-scrollbar-track {
		width: 0px;
	}
	&::-webkit-scrollbar {
		width: 0px;
	}
	&.active {
		opacity: 1;
		visibility: visible;

		.modal-body {
			transform: none;
		}
	}
	&.active {
		opacity: 1;
		visibility: visible;

		.modal-box {
			transition: all 0.3s ease-in-out;
			transform: none;
		}
	}
	.modal-box {
		width: 100%;
		max-width: 590px;
		margin: 50px auto;
		border-radius: 8px;
		padding: 35px;
		background-color: #ffffff;
		transform: translateY(-50px);
		transition: all 0.3s ease-in-out;

		.modal-header {
			.header-logo {
				display: inline-block;
				text-align: center;
				font-size: 46px;
				line-height: 46px;
				color: @blue;
				user-select: none;
				.meregue-basic();
				margin: 0 0 46px 180px;
			}
			.close-modal {
				.montserrat-light();
				font-size: 40px;
				line-height: 30px;
				float: right;
				color: @grey;
				padding: 0;
				background: 0;
				margin-top: -20px;
				margin-right: -20px;
				&:focus, &:active {
                  text-shadow: 0 0 2px lighten(@grey, 10%);
                  box-shadow: none;
				}
			}
			.modal-name {
				.montserrat-bold();
				text-transform: uppercase;
				text-align: center;
				font-size: 22px;
				color: @black;
				letter-spacing: 1.3px;
				line-height: 22px;
				margin-bottom: 29px;
			}
		}
		.modal-form {
			max-width: 270px;
			margin: 0 auto;
			.input-group-component {
				margin-bottom: 29px;
				position: relative;
				label {
					.montserrat-medium();
					text-transform: uppercase;
					font-size: 13px;
					line-height: 13px;
					margin-bottom: 10px;
					color: @grey;
				}
				input {
					color: @black;
					font-size: 14px;
					line-height: normal;
					.placeholder(@grey);
					margin-bottom: 29px;
					&[type="password"] {
						padding-right: 50px;
					}
				}
				.show-password-icon {
					position: absolute;
					top: 24px;
					right: 16px;
					cursor: pointer;
					z-index: -1;
					opacity: 0;
					transition: opacity 0.3s ease-in-out;
					&.show {
						top: 18px;
					}
					&.hide {
						/*top: 36px;*/
					}
					&.active {
						z-index: 2;
						opacity: 1;
						transition: opacity 0.3s ease-in-out;
					}
				}
				&:last-child {
					margin-bottom: 30px;
				}
			}
			.modal-button {
				padding: 13px 22px 11px 22px;
				&.cancel, &.confirm {
					width: 100%;
				}
			}
			.drop-field {
				.circle(216px);
				border: 1px solid @border;
				margin: 0 37px 29px 37px;
				display: inline-table;
				background: center center url('../img/icons/icon-user-default.png') no-repeat @bkg;
				background-size: 50%;
				cursor: pointer;
				p {
					display: table-cell;
					text-align: center;
					vertical-align: middle;
					color: @black;
					font-size: 16px;
					.montserrat-regular();
					user-select: none;
				}
			}
			.forgot-password {
				margin: 0px auto 10px auto;
				font-size: 14px;
				line-height: normal;
				text-decoration: underline;
				color: @blue;
				cursor: pointer;
				position: relative;
				top: -19px;
				letter-spacing: 0.8px;
				background: none;
				.montserrat-semi-bold();
				&:focus, &:active {
					text-shadow: 0 0 2px lighten(@grey, 10%);
				}
				&:active {
					color: darken(@blue, 10%);
				}
			}
			.sign-up-wrapper, .sign-in-wrapper {
				margin: 29px 0 0 0;
				width: 100%;
				p, button {
					font-size: 16px;
					color: @grey;
					.montserrat-medium();
				}
				button {
					background: none;
					color: @blue;
					float: right;
					cursor: pointer;
					margin-top: -19px;
					text-decoration: underline;
					.montserrat-semi-bold();
					&:focus, &:active {
						text-shadow: 0 0 2px lighten(@grey, 10%);
					}
					&:active {
						color: darken(@blue, 10%);
					}
				}
			}
			.notification-text {
				color: @black;
				text-align: center;
				font-size: 16px;
				line-height: 24px;
				.montserrat-semi-bold;
				&.alert {
					color: red;
				}
			}
			.btn-box {
				max-width: 270px;
				margin: 26px auto 0px auto;
				.modal-button-wrapper {
					&:first-child {
						padding: 0 7.5px 0 0;
					}
					&:last-child {
						padding: 0 0 0 7.5px;
					}
				}
			}
		}
	}
}
input {
	&::-webkit-calendar-picker-indicator {
		display: none;
	}
}
.button-blue, .button-grey {
	width: 270px;
	height: 42px;
	padding: 14px 22px 10px;
}
.button-blue {
	.blue-button();
}
.button-grey {
	.grey-button();
}

//modal windows
.modal-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 100;
	opacity: 0;
	background-color: rgba(0,0,0,0.65);
	transition: all 0.3s ease-in-out;
	overflow-y: scroll;

	&::-webkit-scrollbar-thumb {
		width: 0px;
	}
	&::-webkit-scrollbar-track {
		width: 0px;
	}
	&::-webkit-scrollbar {
		width: 0px;
	}
	&.active {
		opacity: 1;
		visibility: visible;

		.modal-body {
			transform: none;
		}
	}
	&.active {
		opacity: 1;
		visibility: visible;

		.modal-box {
			transition: all 0.3s ease-in-out;
			transform: none;
		}
	}
	.modal-box {
		width: 100%;
		max-width: 590px;
		margin: 50px auto;
		border-radius: 8px;
		padding: 35px;
		background-color: #ffffff;
		transform: translateY(-50px);
		transition: all 0.3s ease-in-out;

		.modal-header {
			.header-logo {
				display: inline-block;
				text-align: center;
				font-size: 46px;
				line-height: 46px;
				color: @blue;
				user-select: none;
				.meregue-basic();
				margin: 0 0 46px 180px;
			}
			.close-modal {
				.montserrat-light();
				font-size: 40px;
				line-height: 30px;
				float: right;
				color: @grey;
				padding: 0;
				background: 0;
				margin-top: -20px;
				margin-right: -20px;
				&:focus, &:active {
					text-shadow: 0 0 2px lighten(@grey, 10%);
				}
			}
			.modal-name {
				.montserrat-bold();
				text-transform: uppercase;
				text-align: center;
				font-size: 22px;
				color: @black;
				letter-spacing: 1.3px;
				line-height: 22px;
				margin-bottom: 29px;
			}
		}
		.modal-form {
			max-width: 270px;
			margin: 0 auto;
			.input-group-component {
				margin-bottom: 29px;
				position: relative;
				label {
					.montserrat-medium();
					text-transform: uppercase;
					font-size: 13px;
					line-height: 13px;
					margin-bottom: 10px;
					color: @grey;
				}
				input {
					color: @black;
					font-size: 14px;
					line-height: normal;
					.placeholder(@grey);
					margin-bottom: 29px;
					&[type="password"] {
						padding-right: 50px;
					}
				}
				.show-password-icon {
					position: absolute;
					top: 16px;
					right: 16px;
					cursor: pointer;
					z-index: -1;
					opacity: 0;
					transition: opacity 0.3s ease-in-out;
					&.show {
						top: 18px;
					}
					&.hide {
						//top: 39px;
					}
					&.active {
						z-index: 2;
						opacity: 1;
						transition: opacity 0.3s ease-in-out;
					}
				}
				&:last-child {
					margin-bottom: 30px;
				}
			}
			.modal-button {
				padding: 13px 22px 11px 22px;
			}
			.drop-field {
				.circle(216px);
				border: 1px solid @border;
				margin: 0 37px 29px 37px;
				display: inline-table;
				background: center center url('../img/icons/icon-user-default.png') no-repeat @bkg;
				background-size: 50%;
				cursor: pointer;
				p {
					display: table-cell;
					text-align: center;
					vertical-align: middle;
					color: @black;
					font-size: 16px;
					.montserrat-regular();
					user-select: none;
				}
			}
			.forgot-password {
				margin: 0px auto 10px auto;
				font-size: 14px;
				line-height: normal;
				text-decoration: underline;
				color: @blue;
				cursor: pointer;
				position: relative;
				top: -19px;
				letter-spacing: 0.8px;
				background: none;
				.montserrat-semi-bold();
				&:focus, &:active {
					text-shadow: 0 0 2px lighten(@grey, 10%);
				}
				&:active {
					color: darken(@blue, 10%);
				}
			}
			.sign-up-wrapper, .sign-in-wrapper {
				margin: 29px 0 0 0;
				width: 100%;
				p, button {
					font-size: 16px;
					color: @grey;
					.montserrat-medium();
				}
				button {
					background: none;
					color: @blue;
					float: right;
					cursor: pointer;
					margin-top: -19px;
					text-decoration: underline;
					.montserrat-semi-bold();
					&:focus, &:active {
						text-shadow: 0 0 2px lighten(@grey, 10%);
					}
					&:active {
						color: darken(@blue, 10%);
					}
				}
			}
		}
	}
}



// components
.section-title {
	font-weight: bold;
	font-size: 22px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.3px;
	text-align: left;
	color: #2e2e2e;
	.montserrat-bold();
	margin: 40px 0;
	box-sizing: border-box;

	&.centered {
		text-align: center;
	}
}
.idea-card {
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0px 5px 30px 0 rgba(103, 106, 135, 0.1);
	overflow: hidden;
	margin-bottom: 30px;

	&:hover {
		.top-bar {
			.avatar {
				transform: scale(1.3);
			}
		}
	}
	.top-bar {
		height: 175px;
		overflow: hidden;

		&:hover {
			.avatar {
				transform: scale(1.3);
			}
		}
		.avatar {
			height: 100%;
			width: 100%;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			transition: all 5s ease-out;
		}
	}
	.bottom-bar {
		height: calc(~'100% - 175px');

		.evaluation-box {
			padding: 15px 15px 0 15px;
			display: flex;
			justify-content: space-between;

			.categories {
				.category {
					border-radius: 12px;
					border: solid 1px #02bacd;
					font-size: 10px;
					line-height: 2;
					letter-spacing: 0.7px;
					padding: 2px 16px 0;
					text-align: left;
					color: #02bacd;
					text-transform: uppercase;
					.montserrat-bold();
					display: inline-block;
				}
			}
			.likes {
				position: relative;
				padding-left: 28px;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					height: 100%;
					width: 20px;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					background-image: url('../img/heart.png');
				}
				span {
					font-size: 16px;
					line-height: 1.38;
					text-align: left;
					color: #93a0b3;
					letter-spacing: 2px;
					.montserrat-semi-bold();
				}
			}
		}
		.content-box {
			.title {
				padding: 15px 15px 0 15px;
				font-size: 16px;
				line-height: 1.5;
				text-align: left;
				color: #2e2e2e;
				.montserrat-medium();
			}
			.description {
				padding: 15px;
				font-size: 14px;
				line-height: 1.57;
				text-align: left;
				color: #93a0b3;
				.montserrat-medium();
			}
		}
	}
}
.btn {
	border: 0;
	padding: 12px 25px;
	display: inline-block;
	.blue-button();

	&.white {
		background: transparent;
		color: @gamma-green;
		box-shadow: none;
        &:focus, &:active {
          text-shadow: 0 0 2px lighten(@grey, 10%);
        }
        &:active {
          color: darken(@blue, 10%);
        }
	}
	&.no-padding {
		padding: 5px 25px;
	}
}
.input-group-checkboxes {
	margin-top: 16px;

	& > * {
		display: inline-block;
		vertical-align: middle;
	}
	label {
		font-size: 12px;
		.montserrat-medium();
		letter-spacing: 0.8px;
		text-align: left;
		color: #93a0b3;
		margin-left: 15px;
		text-transform: none;
        cursor: pointer;
	}
	input[type="checkbox"] {
		height: 15px;
		width: 15px;
		border-radius: 2px;
		border: solid 1px #02bacd;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		position: relative;
        cursor: pointer;

		&:after {
			content: '';
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 100%;
			width: 100%;
		}
		&:checked {
          background: center center url('../img/icons/tick.svg') no-repeat;
          background-size: 80%;
          background-color: @blue;
		}
	}
	input, textarea {

	}
}
.info-box{
	border-radius: 10px;
	background-color: #f7f7f7;
	border: solid 1px #ecebeb;
	position: relative;

	&.support {
		&:after {
			background-image: url('../img/icon-like.png');
		}
	}
	&.info {
		&:after {

		}

	}
	&.danger {
		&:after {

		}

	}
	&.success {
		&:after {

		}

	}
	&:after {
		content: '';
		top: 10px;
		bottom: 10px;
		left: 25px;
		position: absolute;
		width: 30px;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	p {
		padding: 22px 80px 22px;
		font-size: 13px;
		font-weight: 500;
		font-style: italic;
		line-height: 1.33;
		text-align: left;
		color: #7f8a9a;
		.montserrat-semi-bold();
	}
}

.site-header {
	display: flex;
	border-bottom: 1px solid #e2e4e5;

	.container {
		display: flex;
		justify-content: space-between;

		& > * {
			margin: auto 0;
			height: 100%;

		}
	}
	.content-wrapper {
		height: 100%;
		display: flex;

		& > * {
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}
    .site-logo {
	    //height: 72px;
	    //width: 100px;
	    margin-right: 30px;
		user-select: none;
		.meregue-basic();
		color: @black;
		font-size: 38px;
		line-height: 90px;
		//padding-top: 18px;
    }
	.site-nav {
		display: flex;

		li {
			margin: auto 0;
			float: left;
			padding-right: 20px;
			&:last-child {
			  padding-right: 0;
			}
			a {
				font-size: 15px;
				font-weight: bold;
				color: @gamma-gray;
				text-transform: uppercase;
				.montserrat-semi-bold();
			}
		}
	}
	.site-search {
		width: 90px;
		height: 90px;
		border-left: 1px solid #e2e4e5;
		border-right: 1px solid #e2e4e5;
		cursor: pointer;

		.avatar {
			height: 100%;
			width: 100%;
			background-image: url('../img/icons/icon-search.png');
			background-size: 30%;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	.verification-box {
		margin-left: 25px;
		display: flex;

		& > * {
			margin: auto 0;
		}
	}
}
.site-footer {
	background: #3b3b3b;
	color: #a6a6a6;
	overflow: hidden;
	margin-top: 70px;
	.row .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.hi-row {
		padding: 60px 0;
		border-bottom: 1px solid #59595a;
		.container {
			.nav-menu {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 571px;
				.sub-links {
					&-item {
						margin: 0 20px;
						cursor: pointer;
						text-decoration: none;
						.montserrat-medium();
						font-size: 16px;
						color: #a6a6a6;
						text-transform: uppercase;
						letter-spacing: 1px;
						&:hover, &:active, &:focus {
							text-decoration: underline;
						}
					}
				}
			}
			.subscribe-form {
				& > * {
					box-sizing: border-box;
					.montserrat-medium();
					font-size: 14px;
					border-radius: 4px;
				}
				input[type="email"] {
					color: #a6a6a6;
					width: 230px;
					padding: 13px 15px;
					background-color: #525050;
					margin-right: 40px;
					&::-webkit-input-placeholder {color: rgba(213, 213, 213, 0.3);}
					&::-moz-placeholder          {color: rgba(213, 213, 213, 0.3);}
					&:-moz-placeholder           {color: rgba(213, 213, 213, 0.3);}
					&:-ms-input-placeholder      {color: rgba(213, 213, 213, 0.3);}
					&:focus {
						box-shadow: 0 0 2px 1px #02bacd;
					}
				}
				input[type="submit"] {
					padding: 13px 25px;
					text-transform: uppercase;
					cursor: pointer;
					user-select: none;
					background: #fff;
					color: #3b3b3b;
					&:hover {
				  	background: darken(#fff, 5);
				  }
				  &:active {
				  	background: darken(#fff, 10);
				  }
				}
			}
		}
		.logo {
			font-size: 38px;
			letter-spacing: 1px;
			color: #fff;
			padding-right: 29px;
			.meregue-basic();
		}
	}
	.low-row {
		padding: 34px 0;
		.container {
			a, p {
				color: rgba(166, 166, 166, 0.8);
				font-size: 14px;
				.montserrat-medium();
			}
			.terms, .policy {
				&:hover, &:active, &:focus {
					text-decoration: underline;
				}
			}
			.terms {
				padding: 0 20px 0 0;
			}
			.policy {
				padding: 0 0 0 20px;
			}
		}
		.copyrights {
			user-select: none;
		}
	}
}
.site-content {
	.section-title {
		text-transform: uppercase;
	}
	.head-banners-section {
		.section-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 25px;
			h1 {
				font-weight: bold;
				font-size: 22px;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 1.3px;
				text-align: left;
				color: #2e2e2e;
				font-family: "Montserrat-bold";
				margin: 0;
				box-sizing: border-box;
			}
			.buttons-wrapper {
				button {
					.blue-button();
					.circle(33px);
					margin-right: 8px;
					position: relative;
					&:last-child {
						margin-right: 0;
					}
					span {
						width: 9px;
						height: 1px;
						background: #fff;
						position: absolute;
						cursor: pointer;
					}
					&.prev {
						span {
							left: 11px;
						}
						.top {
							top: 14px;
							transform: rotate(-45deg);
						}
						.bottom {
							top: 20px;
							transform: rotate(45deg);
						}
					}
					&.next {
						span {
							right: 11px;
						}
						.top {
							top: 14px;
							transform: rotate(45deg);
						}
						.bottom {
							top: 20px;
							transform: rotate(-45deg);
						}
					}
				}
			}
		}
		#top-ideas-slide {
			.slick-slide {
				.idea-banner {
					width: calc(~'100% - 30px')!important;
					margin: 0 15px;
					background: center center url('../img/idea-banner.jpg') no-repeat;
					background-size: 100%;
					border-radius: 8px;
					transition: background-size 5s ease-out;
					padding: 48px 51px;
					box-sizing: border-box;
					&:hover {
						background-size: 130%;
						transition: background-size 5s ease-out;
					}
				}
				.evaluation-box {
					display: block;
					margin-top: 202px;
					div {
						display: inline-block;
					}
					.category {
						.montserrat-medium();
						color: #fff;
						font-size: 17px;
						line-height: 1.41;
						letter-spacing: 1px;
						border: 2px solid #fff;
						border-radius: 24px;
						text-transform: uppercase;
						padding: 11px 24px 9px;
						margin: 0 82px 0 0;
					}
					.likes {
						padding-left: 40px;
						background: left 65% url(../img/heart.png) no-repeat;
						background-size: 26%;
						span {
							font-size: 23px;
							.montserrat-medium();
							letter-spacing: 1.6px;
							line-height: 30px;
							color: #fff;
						}
					}
				}
				.content-box {
					display: block;
					.title {
						.montserrat-medium();
						font-size: 32px;
						line-height: 1.44;
						text-align: left;
						color: #fff;
						margin: 15px 0;
					}
					.to-idea {
						padding: 14px 45px 10px;
						display: inline-block;
						width: 200px;
					}
				}
			}
		}
	}
	.infographics-section {
		.infographics-item {
			.top-bar {
				height: 95px;
				width: 95px;
				margin: 0 auto;

				.icon {
					background-color: #ffffff;
					box-shadow: 0px 1px 10px 0 rgba(214, 219, 226, 0.8);
					height: 100%;
					width: 100%;
					border-radius: 100%;
					background-size: 50%;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
			.bottom-bar {
				max-width: 220px;
				margin: 0 auto;

				.infographics-title {
					font-size: 18px;
					line-height: 1.33;
					color: #2e2e2e;
					padding: 20px 0px 12px;
					text-align: center;
					.montserrat-bold();

				}
				.infographics-description {
					font-size: 14px;
					text-align: center;
					color: #93a0b3;
					.montserrat-medium();
					line-height: 1.7;
				}
			}
		}
		.col-md-4:first-child .top-bar .icon {
			background-image: url("../img/icons/icon-bulb.png");
			background-size: 40%;
		}
		.col-md-4:nth-child(2) .top-bar .icon {
			background-image: url("../img/icons/icon-heart.png");
		}
		.col-md-4:last-child .top-bar .icon {
			background-image: url("../img/icons/icon-money.png");
		}
	}
	.not-found {
		&-section {
			min-height: calc(~'100vh - 580px');
		}
		&-title {
			.meregue-basic();
			color: @blue;
			font-size: 190px;
			text-align: center;
			line-height: 190px;
			margin: 160px auto 40px auto;
			&-sub {
				color: @black;
				text-transform: uppercase;
				text-align: center;
				.montserrat-bold();
				font-size: 22px;
				line-height: 22px;
				margin-bottom: 10px;
			}
		}
		&-description {
			text-align: center;
			color: @grey;
			font-size: 16px;
			line-height: 20px;

		}
	}
	.author-section {
		.author {
			&-photo {
				.circle(130px);
				background: center center url("../img/profile-photo.jpg") no-repeat;
				background-size: cover;
				&-wrapper {
					margin-left: -15px;
					margin-right: 15px;
				}
			}
			&-name {
				.montserrat-semi-bold();
				color: @black;
				text-transform: uppercase;
				font-size: 16px;
				letter-spacing: 1px;
				margin-bottom: 9px;
			}
			&-location {
				color: @grey;
				.montserrat-medium();
				letter-spacing: 0.8px;
				margin-bottom: 10px;
				font-size: 14px;
				line-height: 18px;
			}
			&-email, &-phone, &-website {
				margin-bottom: 10px;
				font-size: 14px;
				line-height: 18px;
				a {
					color: @grey;
					.montserrat-medium();
					letter-spacing: 0.8px;
					&:focus, &:active {
						text-shadow: 0 0 2px lighten(@grey, 10%);
					}
					&:active {
						color: darken(@grey, 10%);
						text-decoration: underline;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
			&-website {
				margin-bottom: 0px;
				a {
					color: @blue;
					text-decoration: underline;
					&:focus, &:active {
						text-shadow: 0 0 2px lighten(@grey, 10%);
					}
					&:active {
						color: darken(@blue, 10%);
					}
				}
			}
			&-about {
				color: @grey;
				.montserrat-medium();
				letter-spacing: 0.8px;
				font-size: 14px;
				line-height: 1.57;
			}
			&-first-name {
				.montserrat-semi-bold();
				font-size: 16px;
				line-height: 1.5;
				color: @black;
			}
			&-ideas {
				&-title, &-quantity {
					.montserrat-semi-bold();
					font-size: 16px;
					line-height: 1.5;
					color: @black;
				}
				&-title {
					margin: 72px 0 20px 0;
					text-align: left;
				}
				&-container {
					padding: 0;
				}
			}
		}
	}
	.new-ideas-section {
		padding: 50px;
		.section-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			h1 {
				font-weight: bold;
				font-size: 22px;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 1.3px;
				text-align: left;
				color: #2e2e2e;
				font-family: "Montserrat-bold";
				margin: 0;
				box-sizing: border-box;
			}
			.view-all {
				background: none;
				color: @blue;
				cursor: pointer;
				.montserrat-semi-bold();
				text-decoration: underline;
				text-transform: none;
				font-size: 18px;
				line-height: 1.22;
				&:focus, &:active {
					text-shadow: 0 0 2px lighten(@grey, 10%);
				}
				&:active {
					color: darken(@blue, 10%);
				}
			}
		}
	}
	.create-idea-section {
		.inputs-wrapper {
			margin-bottom: 60px;
			div {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.idea-step {
					display: none;
				}
				.input-label {
					.circle(26px);
					border-width: 1px;
					border-style: solid;
					padding: 4px 0px;
					position: relative;
					box-sizing: border-box;
					cursor: pointer;
					&:after {
						width: 57px;
						position: absolute;
						top: 30px;
						.montserrat-medium();
						color: @grey;
						font-size: 16px;
						letter-spacing: 1px;
					}
					&.label-1, &.label-2 {
						&.empty {
							border-color: @grey;
							background-image: none;
							background-color: transparent;
							box-shadow: none;
						}
						&.done {
							border-color: @blue;
							background: @blue url('../img/icons/tick.svg') center center no-repeat;
							background-size: 50%;
							box-shadow: 0 0 0 2px fade(@blue, 40%);
							&:after {
								color: @black;
							}
						}
					}
					&.label-1 {
						left: 15px;
						&:after {
							content: 'Step 1';
							left: -15px;
						}
					}
					&.label-2 {
						right: 15px;
						&:after {
							content: 'Step 2';
							right: -15px;
						}
					}
				}
				.path {
					border-top: 1px dashed @grey;
					height: 0px;
					width: calc(~'100% - 82px');
					&.done {
						border-top: 1px solid @blue;
					}
				}
			}
		}
		.create-idea-label {
			display: block;
			.montserrat-medium();
			color: @grey;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 14px;
			letter-spacing: 0.8px;
			margin-bottom: 10px;
			&-sub {
				display: block;
				.montserrat-medium();
				color: @grey;
				text-transform: none;
				font-size: 14px;
				line-height: 14px;
				margin: 14px 0 26px 0;
				letter-spacing: 0.8px;
			}
		}
		.create-idea-input {
			border-radius: 4px;
			border: 1px solid @border;
			width: 100%;
			box-sizing: border-box;
			padding: 12px 21px;
			color: @black;
			.placeholder(@grey);
			.montserrat-medium();
			font-size: 14px;
			line-height: 14px;
			letter-spacing: 0.8px;
			margin-bottom: 39px;
		}
		.idea-short-description {
			.create-idea-input {
				height: 146px;
				resize: none;
			}
		}
		.idea-full-description {
			.create-idea-input {
				height: 344px;
				resize: none;
			}
		}
		.buttons-wrapper {
			.button-transparent {
				margin-right: 30px;
				.transparent-button();
				padding: 13px 22px 10px 22px;
			}
			.create-idea-button {
				width: 200px;
			}
		}
		.attached-item {
			&-row {
				padding: 0 15px;
				margin-bottom: 39px;
			}
			height: 120px;
			box-sizing: border-box;
			background: @bkg url('../img/idea-photo-background.jpg') center center no-repeat;
			background-size: cover;
			margin-right: 29px;
			border-radius: 4px;
			border: 1px solid @border;
			&:after {
				content: "";
				.circle(24px);
				background: @blue url("../img/icons/icon-close.png") center center no-repeat;
				background-size: 37%;
				border: 0;
				position: absolute;
				top: -8px;
				right: -10px;
				cursor: pointer;
				outline: none;
				box-shadow: none;
			}
			&:last-child {
				margin-right: 0px;
			}
			&:focus, &:active {
				&:after {
					box-shadow: 0 0 2px @blue;
				}
			}
		}
		.attach-item {
			height: 120px;
			background: #fff url('../img/icons/icon-plus.png') center center no-repeat;
			background-size: 26px;
			border: 1px dashed @border;
			box-sizing: border-box;
			width: 117px;
			cursor: pointer;
			border-radius: 4px;
			&:hover {
				background-color: darken(#fff, 5%);
			}
			&:focus, &:active {
				box-shadow: 0 0 2px @blue;
			}
		}
	}
	.idea-section {
		margin-top: 45px;

		.category {
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 2.2px;
			color: #93a0b3;
			text-align: center;
			.montserrat-semi-bold();
		}
		.idea-title {
			.montserrat-semi-bold();
			font-size: 36px;
			font-weight: bold;
			line-height: 1.22;
			letter-spacing: 0.7px;
			text-align: center;
			color: #2e2e2e;
			max-width: 480px;
			margin: 30px auto;
		}
		.avatar {
			width: 100%;
			margin-bottom: 30px;
		}
		.description-box {
			.description {

				&.bordered {
					padding: 25px;
					box-sizing: border-box;
					border: solid 1px #d5d9df;
				}
				.likes {
					.heart-icon {
						height: 32px;
						width: 32px;
						margin: 0 auto;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						background-image: url('../img/icon-like.png');
					}
					.likes-number {
						font-size: 16px;
						text-align: center;
						margin-top: 15px;
						color: #93a0b3;
						letter-spacing: 2px;
						.montserrat-regular();
					}
				}
				.user-avatar {
					width: 90%;
					padding-bottom: 90%;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					border-radius: 100%;
					display: block;
					text-align: center;
					margin: 30px auto 15px;
				}
				.user-name {
					margin: 0 auto 50px;

					.name {
						font-size: 14px;
						letter-spacing: 0.8px;
						text-align: center;
						color: #2e2e2e;
						text-transform: uppercase;
						.montserrat-semi-bold();
						line-height: 1.7;
					}
					.country {
						font-size: 14px;
						letter-spacing: 0.8px;
						text-align: center;
						color: #93a0b3;
						.montserrat-semi-bold();
						line-height: 1.7;
					}
				}
				.data-published {
					margin-top: 30px;

					.title {
						font-size: 14px;
						letter-spacing: 0.8px;
						text-align: center;
						color: #101010;
						.montserrat-semi-bold();
						line-height: 1.7;

						&.data {
							color: #93a0b3;
						}
					}
				}
				p {
					margin-bottom: 30px;
					.montserrat-medium();
					font-size: 13px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.5;
					letter-spacing: 1px;
					text-align: left;
					color: #93a0b3;
				}
			}
		}
	}
	.categories-section {
		.categories-box {
			/*display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;*/
			margin-bottom: 55px;
			.category {
				.montserrat-semi-bold();
				color: @blue;
				display: inline-block;
				padding: 15px 36px 14px 36px;
				border: 2px solid @blue;
				border-radius: 26px;
				margin: 0 36px 24px 0;
				font-size: 16px;
				line-height: 16px;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 1px;
				&:hover, &:focus, &:active {
					background: fade(@blue, 50%);
					color: #fff;
				}
				&:focus, &:active {
					box-shadow: 0 0 2px @blue;
				}
				&:active {
					background: fade(@blue, 75%);
				}
			}
		}
	}
	.about-section {
		.container {
			&:first-child {
				background: right 30px url('../img/Picture.png') no-repeat transparent;
			}
		}
		.about-box {
			p {
				font-size: 16px;
				margin-bottom: 30px;
				line-height: 1.67;
				text-align: left;
				color: @grey;
				.montserrat-medium();
			}
		}
		.member {
			&-photo {
				height: 173px;
				background: center center url('../img/profile-photo.jpg') no-repeat #cad3e1;
				background-size: contain;
			}
			&-card {
				border-radius: 8px;
				box-shadow: 0px 5px 30px 0 rgba(103, 106, 135, 0.1);
				overflow: hidden;
				margin-bottom: 40px;
				&.chaikovskyi {
					.member-photo {
						background-image: url("../img/team/chaikovskyi.jpg");
					}
				}
				&.dovzhenko {
					.member-photo {
						background-image: url("../img/team/dovzhenko.jpg");
					}
				}
				&.kravchenko {
					.member-photo {
						background-image: url("../img/team/kravchenko.jpg");
					}
				}
				&.rybko {
					.member-photo {
						background-image: url("../img/team/rybko.jpg");
					}
				}
				&.shevchenko {
					.member-photo {
						background-image: url("../img/team/shevchenko.jpg");
					}
				}
				&.smorodskiy {
					.member-photo {
						background-image: url("../img/team/smorodskiy.jpg");
					}
				}
				&.tkach {
					.member-photo {
						background-image: url("../img/team/tkach.jpg");
					}
				}
			}
			&-info {
				text-align: center;
			}
			&-rank, &-email {
				.montserrat-medium();
			}
			&-name {
				.montserrat-semi-bold();
				color: @black;
				font-size: 18px;
				line-height: 1.33;
				margin-top: 14px;
				margin-bottom: 4px;
			}
			&-rank, &-email {
				color: @grey;
			}
			&-rank {
				font-size: 16px;
				line-height: 1.38;
			}
			&-email {
				font-size: 14px;
				line-height: 1.57;
				margin-bottom: 12px;
				display: inline-block;
				&:hover, &:focus, &:active {
					text-decoration: underline;
				}
			}
			&-social {
				padding-bottom: 17px;
				&-link {
					.circle(40px);
					display: inline-block;
					padding: 10px 20px;
					margin: 0 9px;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					&.facebook {
						background-image: url("../img/icons/facebook.png");
					}
					&.linkedin {
						background-image: url("../img/icons/linkedin.png");
					}
				}
			}
		}
	}
	.catalog-section {
		.catalog-categories	{
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0px 5px 30px 0 rgba(103, 106, 135, 0.1);
			background-color: #ffffff;
			border: solid 1px #e9eaeb;

			.title {
				font-size: 16px;
				font-weight: bold;
				letter-spacing: 1px;
				text-align: left;
				color: #2e2e2e;
				text-transform: uppercase;
				.montserrat-bold();
			}
            .more {
              background: none;
              cursor: pointer;
              color: @blue;
              margin: 16px 0 35px 0;
              .montserrat-medium();
              font-size: 14px;
              line-height: normal;
              letter-spacing: 0.8px;
              background: none;
              .montserrat-semi-bold();
              &:focus, &:active {
                text-shadow: 0 0 2px lighten(@grey, 10%);
              }
              &:active {
                color: darken(@blue, 10%);
              }
            }
		}
      .country {
        &-select {
          margin: 20px 0 10px;
          border: 1px solid @grey;
          border-radius: 4px;
          width: 100%;
          box-sizing: border-box;
          padding: 12px 20px;
          .montserrat-medium();
          font-size: 14px;
          line-height: normal;
          color: @grey;
          .placeholder(@grey);
        }
      }
      .selectors {
        &-box {
          position: absolute;
          right: 15px;
          top: -30px;
        }
        &-wrapper {
          width: 110px;
          display: inline-block;
          margin-right: 32px;
          position: relative;
          &:last-child {
            margin-right: 0px;
          }
          button {
            width: 100%;
            text-align: left;
            padding: 0;
            cursor: pointer;
            background: transparent;
            .montserrat-medium();
            color: @grey;
            font-size: 14px;
            z-index: 1;
            background-size: 10%;
            background-position: center right;
            background-repeat: no-repeat;
            &.more {
              background-image: url("../img/icons/arrow-up.png");
            }
            &.less {
              background-image: url("../img/icons/arrow-down.png");
            }
            &:focus, &:active {
              text-shadow: 0 0 2px lighten(@grey, 10%);
              box-shadow: none;
            }
            &:visited {
              text-shadow: none;
              box-shadow: none;
            }
          }
        }
      }
	}
	.bring-an-idea-section {
		padding: 50px;
		background: 90% 50% url("../img/bring-idea-picture.png") no-repeat;
		background-size: contain;
		margin-bottom: 115px;
		.section-title {
			margin-top: -15px;
		}
		.bring-an-idea-box {
			p {
				font-size: 18px;
				line-height: 1.7;
				text-align: left;
				color: #93a0b3;
				.montserrat-semi-bold();
				margin-bottom: 35px;
			}
		}
	}
    .profile-section {
	  margin: 0 -15px;

    .profile-box {
      .profile-photo {
        position: relative;

        .avatar {
          margin: 0 auto 18px auto;
          width: 108px;
          height: 108px;
          border-radius: 100%;
          border: 1px solid #ddd;
          background-image: url('../img/profile-photo.jpg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
			background-color: @bkg;
			&.default {
				background-size: 65%;
				background-image: url('../img/icons/icon-user-default.png');
			}
        }
        .remove-photo {
          background: center center url('../img/icons/icon-close.png') no-repeat @blue;
			background-size: 37%;
          .circle(24px);
          position: absolute;
          top: -1px;
          right: 14px;
          /* height: 19px; */
          /* width: 19px; */
          cursor: pointer;
			outline: none;
			box-shadow: none;
			&:focus, &:active {
				box-shadow: 0 0 2px @blue;
			}

        }
        .upload-photo {
          cursor: pointer;
          display: block;
          border: 1px dashed #aaa;
          width: 100%;
          box-sizing: border-box;
          text-align: center;
          padding: 6px 7px 7px;
          font-weight: bold;
          color: #bbb;
          border-radius: 4px;
			.montserrat-medium();
			background: transparent;
			&:focus, &:active {
				box-shadow: 0 0 2px @blue;
			}
        }
      }
		.input-group-component {
			.change-password {
				font-size: 14px;
				line-height: normal;
				text-decoration: underline;
				color: @blue;
				cursor: pointer;
				letter-spacing: 0.8px;
				background: none;
				margin: 0px 0 38px 0;
				.montserrat-semi-bold();
				&:focus, &:active {
					text-shadow: 0 0 2px lighten(@grey, 10%);
				}
				&:active {
					color: darken(@blue, 10%);
				}
			}
			&:nth-child(9) {
				input {
					margin-bottom: 9px;
				}

			}
		}
		.textarea-wrapper {
			span {
				float: right;
				.montserrat-medium();
				color: @grey;
			}
		}
    }
  }
	.contact-box {
		.top {
			margin-bottom: 62px;
		}
		.icon {
			.circle(95px);
			background-color: #ffffff;
			box-shadow: 0px 1px 10px 0 rgba(214, 219, 226, 0.8);
			background-position: center;
			background-repeat: no-repeat;
			display: inline-block;
			margin-right: 26px;
		}
		.description {
			display: inline-block;
			&-title {
				.montserrat-medium();
				color: @black;
				font-size: 18px;
				line-height: 1.33;
				margin: 14px 0 9px 0;
			}
			&-text {
				color: @grey;
				.montserrat-semi-bold();
				font-size: 16px;
				line-height: 1.33;
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				display: block;
			}
		}
		&-item {
			display: flex;
			align-items: flex-start;
			&.address {
				.icon {
					background-image: url("../img/icons/icon-pin.png");
				}
				.description {
					&-text {
						margin-top: -2px;
						line-height: 1.75;
					}
				}
			}
			&.mail {
				.icon {
					background-image: url("../img/icons/icon-mail.png");
				}
			}
			&.phone {
				.icon {
					background-image: url("../img/icons/icon-phone.png");
				}
			}
		}
	}
	.author-ideas-section {
		.section-title {
			margin-bottom: 78px;
		}
		.authors-nav-links {
			border-bottom: 1px solid @border;
			&-item {
				display: inline-block;
				margin-right: 60px;
				position: relative;
				top: 1px;
				padding-bottom: 8px;
				font-size: 16px;
				&:last-child {
					margin-right: 0;
				}
				a {
					color: @grey;
					text-transform: uppercase;
					border-bottom: 1px solid @border;
					padding-bottom: 8px;
					.montserrat-medium();
				}
				&.active {
					a {
						color: #02bacd;
						border-bottom: 1px solid #02bacd;
					}
				}
			}
		}
		.section-description, .section-description span {
			.montserrat-semi-bold();
			color: @black;
			font-size: 16px;
			line-height: 1.5;
			margin: 36px 0 37px 0;
		}
		.editor {
			&-section {
				position: absolute;
				top: 0;
				left: 15px;
				height: 43px;
				border-radius: 8px 8px 0 0;
				background: fade(darken(@black, 1.5686), 50%);
				box-shadow: 0px 5px 30px 0 rgba(103, 106, 135, 0.1);
				width: calc(~'100% - 30px');
				display: flex;
				justify-content: space-between;
				align-items: center;
				box-sizing: border-box;
				padding: 11px 15px 10px 15px;
			}
			&-item {
				height: 22px;
				background-color: transparent;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				position: relative;
				&:first-child {
					width: 22px;
					&:after {
						position: absolute;
						top: 0px;
						left: 32px;
						text-transform: capitalize;
						color: white;
						.montserrat-medium();
						font-size: 14px;
						line-height: 1.5;
					}
				}
				&.more {
					width: 6px;
					position: relative;
					&-button {
						border: none;
						outline: none;
						width: 100%;
						height: 100%;
						cursor: pointer;
						background-image: url("../img/icons/icon-more.png");
					}
				}
				&.approved {
					background-image: url('../img/icons/icon-approved.png');
					&:after {
						content: 'approved';
					}
				}
				&.rejected {
					background-image: url('../img/icons/icon-rejected.png');
					&:after {
						content: 'rejected';
					}
				}
				&.draft {
					background-image: url('../img/icons/icon-draft.png');
					&:after {
						content: 'draft';
					}
				}
			}
			&-list {
				position: absolute;
				top: 27px;
				right: -9px;
				background: #fff;
				border-radius: 4px;
				padding: 12px 16px 16px 16px;
				width: 132px;
				box-sizing: border-box;
				box-shadow: 0px 5px 15px 0 rgba(103, 106, 135, 0.3);
				opacity: 0;
				z-index: -1;
				transition: opacity 0.3s ease-in-out,
				z-index 0.01s 0.29s;
				&-item {
					.edit-idea, .delete-idea {
						.montserrat-medium();
						color: @grey;
						font-size: 14px;
						letter-spacing: 0.8px;
						cursor: pointer;
						background: transparent;
						outline: none;
						text-align: left;
						&:focus, &:active {
							text-shadow: 0 0 2px lighten(@grey, 10%);
							box-shadow: none;
						}
					}
					&:first-child {
						margin-bottom: 6px;
					}
				}
				&.active {
					z-index: 1;
					opacity: 1;
					transition: opacity 0.3s ease-in-out;
				}
			}
		}
	}
  .faq-section {
    .section-title{
      h1 {
        .montserrat-semi-bold();
        width: 48px;
        height: 20px;
        font-size: 22px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.3px;
        text-align: left;
        color: #2e2e2e;
      }
    }
    .faq-box {
      .faq-item {
        margin-top: 55px;

        .faq-title {
          font-size: 16px;
		  .montserrat-semi-bold();
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1px;
          text-align: left;
          color: #3b3b3b;
          margin-bottom: 15px;
        }
        .faq-description {
          max-width: 612px;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: 1px;
          text-align: left;
          color: #93a0b3;

          ul li {
            color: #93a0b3;
            font-size: 16px;

          }
        }
      }
    }
    .support {
      margin-top: 100px;
      text-align: center;
      max-width: 282px;

        .support-text {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 1px;
        text-align: center;
        color: #93a0b3;
        border-radius: 4px;
        padding: 25px 20px;
        border:  1px dashed #d5d9df;
      }
        .support-button {
          width: 240px;
          height: 46px;
          border-radius: 4px;
          margin-top: 20px;
          background-color: #02bacd;
          font-size: 16px;
		  .montserrat-bold();
          letter-spacing: 1px;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
		  cursor: pointer;
			&:hover {
				background: darken(@blue, 5);
			}
			&:focus, &:active {
				box-shadow: 0 0 2px @blue;
			}
			&:active {
				background: darken(@blue, 10%);
			}
        }
      }
    }
}