@font-face {
	font-family: 'Montserrat-bold';
	src: url(../fonts/Montserrat-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: 'Montserrat-regular';
	src: url(../fonts/Montserrat-Regular.ttf);
	font-weight: 700;
}
@font-face {
	font-family: 'Montserrat-light';
	src: url(../fonts/Montserrat-Light.ttf);
	font-weight: 700;
}
@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url(../fonts/Montserrat-SemiBold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Montserrat-Medium';
	src: url(../fonts/Montserrat-Medium.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Merengue-Script-Basic';
	src: url(../fonts/Merengue-Script-Basic.otf);
	font-weight: 400;
}

@font-face {
	font-family: 'Merengue-Script';
	src: url(../fonts/Merengue-Script.otf);
	font-weight: 400;
}

@font-face {
	font-family: 'Futura';
	src: url(../fonts/Futura-Normal.ttf) format('truetype');
	font-weight: 400;
}